.header {
    border: solid 2px black;
    height: 100px;
}

.vertical {
    border: solid 4px black;
    height: 100%;
    flex-grow: 1;
}

body {
    font-size: 0;
}

.main {
    display: flex;
    justify-content: space-around;
    border: solid 2px red;
    height: 500px;
}

.verticalleft {
    flex-grow: 2;
}

.verticalright {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
}

.central,
.centralright {
    border: solid 2px black;
}

.centralright {
    flex-grow: 1;
}

.central {
    flex-grow: 2;
}

.top {
    flex-grow: 1;
}

.bottom {
    display: flex;
    flex-grow: 3;
}

.top,
.bottom {
    border: solid 2px black;
}